*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

body{
    background-color:rgb(54, 11, 109) !important;
    color: rgb(255, 255, 255);
    font-family: "Poppins";
}

button{
    font-family: "Poppins";
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
    border: none;
    outline: none;
    font-size: 16px;
    opacity: 0.8;
    transition: 0.3s;

}
button:hover{
    opacity: 1;
    transform: scale(1.05);
}



header{
    display: flex;
    width: 100%;
    padding: 4%;
    justify-content: space-between;
    align-items: center;
    position: fixed;

    nav ul{
    display: flex;
    gap: 20px;
    list-style-type: none;
    background-color: rgba(0, 0, 0, 0.219);
    padding: 16px 20px;
    border-radius: 30px;
    backdrop-filter: blur(20px);

}
.logotipo{
    border-radius: 50%;
    width: 60px;
    height: 60px;
    object-fit: cover;
    opacity: 0.8;
    backdrop-filter: blur(5px);
    box-shadow: 0 0 20px rgba(153, 0, 255, 0.76);
    filter: blur(0.5px);

}
}

.logotipo{
    width: 60px;
}

section{
    width: 100%;
    display: flex;
    flex-direction: column;


}

.seção1{
    background-image: url(assets/fundo4.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    justify-content: center;
    align-items: center;

    h2{
        font-size: 13vw;
        color: rgb(199, 199, 199);
        mix-blend-mode: color-dodge;
        align-items: center;
        justify-content: center;


    }

}

.conteudoPrincipal{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: 300;
}
.clara{
    font-size: 40px;
    font-weight: 500;
}

.botao1{
    background-color: rgba(0, 0, 0, 0.397);
    color: rgb(255, 255, 255);
    padding: 12px 20px;
    gap: 10px;
    display: inline-flex;
    align-items: center;
    width: fit-content;
    font-size: 16px;
    
}
.texto1{
    opacity: 0.8;
}

.botao1 img{
    width: 24px;
    height: 24px;
    object-fit: cover;
    border-radius: 50%;
    opacity: 0.8;

}

.botao2{
    background-color: rgba(255, 255, 255, 0.158) !important;
    color: white;
     padding: 12px 20px;
    gap: 10px;
    display: inline-flex;
    align-items: center;
    width: fit-content;
    font-size: 16px;


}

.divBotoes{
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    margin: 28px;

}